### 서울시 교통사고 시각화

In [2]:
import pandas as pd
import folium

In [4]:
# Data 불러오기
traffic_seoul = pd.read_csv("../Data/newSeoul_2005_2019.csv")
traffic_seoul.head()

     년도  월 자치구명  발생건수  사망자수  부상자수
0  2005  1  종로구    93     2   138
1  2005  2  종로구    84     3   125
2  2005  3  종로구   117     0   142
3  2005  4  종로구   138     2   212
4  2005  5  종로구   145     2   207

In [5]:
traffic_seoul.tail()

        년도   월 자치구명  발생건수  사망자수  부상자수
4495  2019   8  강동구   127     2   175
4496  2019   9  강동구    98     2   137
4497  2019  10  강동구   108     1   144
4498  2019  11  강동구   146     0   199
4499  2019  12  강동구   108     1   131

In [6]:
traffic_seoul.shape

(4500, 6)

In [7]:
traffic_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      4500 non-null   int64
 1   월       4500 non-null   int64
 2   자치구명    4500 non-null   object
 3   발생건수    4500 non-null   int64
 4   사망자수    4500 non-null   int64
 5   부상자수    4500 non-null   int64
dtypes: int64(5), object(1)
memory usage: 211.1+ KB

---
#### 컬럼별 데이터 확인

In [ ]:
# 년도 : 시작과 끝의 기준을 확인 
traffic_seoul.년도.unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019])

In [10]:
# 년도 : 각 년도의 데이터 크기
traffic_seoul.년도.value_counts().sort_index()

년도
2005    300
2006    300
2007    300
2008    300
2009    300
2010    300
2011    300
2012    300
2013    300
2014    300
2015    300
2016    300
2017    300
2018    300
2019    300
Name: count, dtype: int64