### 서울시 교통사고 시각화

In [2]:
import pandas as pd
import folium

In [4]:
# Data 불러오기
traffic_seoul = pd.read_csv("../Data/newSeoul_2005_2019.csv")
traffic_seoul.head()

     년도  월 자치구명  발생건수  사망자수  부상자수
0  2005  1  종로구    93     2   138
1  2005  2  종로구    84     3   125
2  2005  3  종로구   117     0   142
3  2005  4  종로구   138     2   212
4  2005  5  종로구   145     2   207

In [5]:
traffic_seoul.tail()

        년도   월 자치구명  발생건수  사망자수  부상자수
4495  2019   8  강동구   127     2   175
4496  2019   9  강동구    98     2   137
4497  2019  10  강동구   108     1   144
4498  2019  11  강동구   146     0   199
4499  2019  12  강동구   108     1   131

In [6]:
traffic_seoul.shape

(4500, 6)

In [7]:
traffic_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      4500 non-null   int64
 1   월       4500 non-null   int64
 2   자치구명    4500 non-null   object
 3   발생건수    4500 non-null   int64
 4   사망자수    4500 non-null   int64
 5   부상자수    4500 non-null   int64
dtypes: int64(5), object(1)
memory usage: 211.1+ KB

---
#### 컬럼별 데이터 확인

In [ ]:
# 년도 : 시작과 끝의 기준을 확인 
traffic_seoul.년도.unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019])

In [10]:
# 년도 : 각 년도의 데이터 크기
traffic_seoul.년도.value_counts().sort_index()

년도
2005    300
2006    300
2007    300
2008    300
2009    300
2010    300
2011    300
2012    300
2013    300
2014    300
2015    300
2016    300
2017    300
2018    300
2019    300
Name: count, dtype: int64

In [12]:
# 월별
traffic_seoul.월.value_counts().sort_index()

월
1     375
2     375
3     375
4     375
5     375
6     375
7     375
8     375
9     375
10    375
11    375
12    375
Name: count, dtype: int64

In [15]:
# 자치구명
traffic_seoul.자치구명.value_counts()

자치구명
종로구     180
중구      180
용산구     180
성동구     180
광진구     180
동대문구    180
중랑구     180
성북구     180
강북구     180
도봉구     180
노원구     180
은평구     180
서대문구    180
마포구     180
양천구     180
강서구     180
구로구     180
금천구     180
영등포구    180
동작구     180
관악구     180
서초구     180
강남구     180
송파구     180
강동구     180
Name: count, dtype: int64

---
#### 자치구명별 발생건수

In [24]:
# 자치구명별 발생건수의 평균을 데이터프레임 작성
regionAcc_mean = \
    traffic_seoul.groupby('자치구명', as_index=False)['발생건수'].mean()
regionAcc_mean.head()

  자치구명        발생건수
0  강남구  295.833333
1  강동구  119.605556
2  강북구  103.933333
3  강서구  149.350000
4  관악구  137.761111

In [26]:
# 발생건수 기준으로 내림차순으로 정렬
regionAcc_mean.sort_values('발생건수', ascending=False)

    자치구명        발생건수
0    강남구  295.833333
17   송파구  220.522222
19  영등포구  190.950000
14   서초구  174.916667
10  동대문구  151.633333
3    강서구  149.350000
24   중랑구  149.166667
12   마포구  138.450000
4    관악구  137.761111
8    노원구  134.561111
16   성북구  132.966667
6    구로구  125.600000
1    강동구  119.605556
18   양천구  119.577778
5    광진구  115.638889
22   종로구  114.366667
23    중구  114.105556
21   은평구  112.194444
20   용산구  109.505556
11   동작구  104.605556
2    강북구  103.933333
15   성동구   94.233333
13  서대문구   89.761111
7    금천구   78.894444
9    도봉구   76.838889

In [28]:
# 자치구별 표준편차의 결과를 DataFrame

regionAcc_std = \
    traffic_seoul.groupby('자치구명', as_index=False).발생건수.std()
regionAcc_std.head()

  자치구명       발생건수
0  강남구  36.470773
1  강동구  17.352248
2  강북구  15.677832
3  강서구  21.267773
4  관악구  24.162477

In [29]:
regionAcc_std.sort_values('발생건수', ascending=False)

    자치구명       발생건수
0    강남구  36.470773
14   서초구  30.389809
17   송파구  28.967417
5    광진구  25.335903
4    관악구  24.162477
24   중랑구  23.333746
19  영등포구  23.182606
21   은평구  23.087179
10  동대문구  22.903709
3    강서구  21.267773
16   성북구  21.082943
12   마포구  20.572606
22   종로구  19.953269
18   양천구  19.774414
23    중구  19.200063
11   동작구  18.931661
8    노원구  18.679946
1    강동구  17.352248
6    구로구  16.944405
2    강북구  15.677832
20   용산구  15.661038
7    금천구  14.785429
15   성동구  14.262151
9    도봉구  13.588182
13  서대문구  12.609017

In [30]:
# 자치구별 발생건수의 변동계수 
# 변동계수 = 표준편차 / 평균
regionAcc_cv = regionAcc_std.발생건수 / regionAcc_mean.발생건수
regionAcc_cv

0     0.123281
1     0.145079
2     0.150845
3     0.142402
4     0.175394
5     0.219095
6     0.134908
7     0.187408
8     0.138821
9     0.176840
10    0.151047
11    0.180981
12    0.148592
13    0.140473
14    0.173739
15    0.151349
16    0.158558
17    0.131358
18    0.165369
19    0.121407
20    0.143016
21    0.205778
22    0.174468
23    0.168266
24    0.156427
Name: 발생건수, dtype: float64

In [32]:
# 자치구명과 변동계수를 가진 DataFrame 만들기

regionAcc = \
    pd.DataFrame(
        {
            '자치구명' : regionAcc_mean.자치구명,
            '변동계수' : regionAcc_cv.values
        }
    )
regionAcc.head()

  자치구명      변동계수
0  강남구  0.123281
1  강동구  0.145079
2  강북구  0.150845
3  강서구  0.142402
4  관악구  0.175394

In [34]:
# 정렬하여 발생건수가 높은 지역부터 출력
regionAcc.sort_values('변동계수', ascending=True)

    자치구명      변동계수
19  영등포구  0.121407
0    강남구  0.123281
17   송파구  0.131358
6    구로구  0.134908
8    노원구  0.138821
13  서대문구  0.140473
3    강서구  0.142402
20   용산구  0.143016
1    강동구  0.145079
12   마포구  0.148592
2    강북구  0.150845
10  동대문구  0.151047
15   성동구  0.151349
24   중랑구  0.156427
16   성북구  0.158558
18   양천구  0.165369
23    중구  0.168266
14   서초구  0.173739
22   종로구  0.174468
4    관악구  0.175394
9    도봉구  0.176840
11   동작구  0.180981
7    금천구  0.187408
21   은평구  0.205778
5    광진구  0.219095